@forward "../components/_buttons.scss";
@forward "../layout/_header.scss";
@use "../utilities/variables" as variables;
@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  color: $color;
  transition: color $duration calc($duration/3);
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    z-index: 1;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before { transition-delay: 0s, 0s, $duration; }

    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

main {


  .page__container {
    margin: 10rem;

    .main__divider {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;

      section {
        max-width: 66.66%;
        display: flex;
        flex-direction: column;
        gap: 6rem;

        article {



          figure {
            position: relative;
            margin: 0px 4rem 0rem -4rem;
            z-index: -1;

            a {

              img {
                width: 100%;
                height: 40rem;
              }
            }
          }
         .article__content {

           .article__content--top {
              display: flex;
              flex-direction: column;

             span {
               color: grey;
               font-size: 0.8em;
               letter-spacing: 0.3em;

             }
             .article__span--separator {
               background-color: grey;
               margin: 1rem;
               width: 2rem;
               height: 4px;
               position: relative;
               opacity: 0.6;
               left: -1.5rem;
             }
           }
           h2 {
             font-size: 2rem;
             color: variables.$whiteBackground;
             font-weight: 700;
             margin-bottom: 0;
           }
           ul {
             margin-top: 1.5rem;
             display: flex;
             margin-bottom: 3rem;

             li {

               color: lightgrey;
               font-size: .7rem;
               text-transform: uppercase;
               font-weight: 700;
               margin-right: 2rem;
               gap: 1rem;
               opacity: 0.7;

               i {
                 margin-right: 1rem;
                 color: variables.$whiteBackground;
               }
             }
           }
           p {
             font-size: 0.9rem;
             font-weight: 300;
             line-height: 1.5;
             color: lightgrey;
             opacity: 0.7;
           }
           a {
             text-align: center;
             margin-top: 2rem;
             @extend #nav__button;
             font-size: 0.8rem;
             width: 5rem;
             border-color: rgba(255,255,255,.50);

           }
         }
        }
        .article__content {
          padding: 4rem 3rem;
          background-color: #202020;
          box-shadow: 0 1rem 2rem rgb(0 0 0/ 50%);
          margin-top: -3rem;
          z-index: 99;
        }
      }

      aside {
        max-width: 33.33%;
        padding-left: 2rem;

        .aside {
          padding-left: 20px;
          margin-bottom: 4rem;

          h3 {
            position: relative;
            padding-bottom: 1.5rem;
            margin-bottom: 2rem;
            font-size: 1.5rem;
            color: variables.$whiteBackground;
            font-weight: 700;

          }
          h3:before {
            content: "";
            display: block;
            position: absolute;
            width: 1.8rem;
            height: 3px;
            left: -1.3rem;
            bottom: 0;
            background-color: rgba(255,255,255, .1);
          }
        }

      }
      .aside__categories, .aside__archive {

        ul {

          li {
            padding: 0 0 1rem 20px;
            position: relative;
            text-transform: uppercase;


            a {
              margin-bottom: 1.2rem;
              text-transform: uppercase;
              color: lightgrey;
              opacity: 0.6;
              font-size: 0.75em;
              letter-spacing: 0.2em;
            }

            a::before {
              content: "";
              position: absolute;
              top: 0.25rem;
              left: 0;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: variables.$red;
              opacity: 0;
            }

            a:hover::before {
              opacity: 1;
              cursor: pointer;
            }
            a:hover {
              cursor: pointer;
              color: white;

            }
          }
        }
      }
      .aside__popular {

        .ul__popular {

          li {
            position: relative;


            div {
              min-height: 5rem;
              padding: 1.2rem;
              position: relative;
              z-index: 1;
              display: flex;
              align-items: center;

              span {
                color: grey;
                text-transform: uppercase;
                font-size: .7rem;
                padding-right: 3rem;
                margin-right: 1rem;
                position: relative;
              }
              span:after {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                width: 1.7rem;
                height: 1px;
                background-color: rgba(255,255,255, .1);
              }
              h4 {
                font-size: 1rem;
                text-transform: uppercase;
                color: variables.$whiteBackground;
                font-weight: 700;
              }
            }
          }
          li::after, li::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity .3s linear;
          }
          li::after {
            background-color: rgba(0, 0, 0, .5);
          }

          .popular__one::before {
            background-image: url('../images/room-3.jpg');
            background-size: cover;
            background-position: 50% 50%;
          }
          .popular__two::before {
            background-image: url('../images/room-2.jpg');
            background-size: cover;
            background-position: 50% 50%;
          }
          .popular__three::before {
            background-image: url('../images/room-5.jpg');
            background-size: cover;
            background-position: 50% 50%;
          }

          li:hover::before, li:hover::after {
            opacity: 1;
          }
        }
      }
      .aside__tags {
        max-width: 30rem;

        div {
          margin-top: 2rem;
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          a {
            margin: 0 .5rem .75rem 0;
            border: 2px solid lightgray;
            padding: 1rem 2rem 1rem 2rem;
            border-radius: 3rem;
            text-decoration: none;
            color: variables.$whiteBackground;
            font-weight: 700;
          }

        }

      }
      .aside__photos {

        .photos__container {



        ul {
          padding: 0;
          display: grid;
          grid-template-columns: repeat(3, auto);
          grid-template-rows: repeat(2, auto);
          grid-column-gap: 0px;
          grid-row-gap: 1rem;

          li {
            width: 9rem;

            img {
              width: 9rem;
            }
          }
          li:hover {
            color: variables.$red;
          }


          }
        }
      }
    }
  }
}
.draw-border {
  @include btn-border-drawing(variables.$red, variables.$red, 2px, top, right);

}
@media only screen and (max-width: 413px) {

main {

  .page__container {
    margin: 0!important;

    .main__divider {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      margin: 0!important;

      .main__section {
        max-width: 100%!important;
        display: flex;
        flex-wrap: wrap;
        gap: 6rem;

        .article {
          display: flex;
          flex-direction: column;
          align-items: baseline;

          .figure {
            margin: 0;

            a {
              img {
                height: 25rem;
              }
            }
          }
          .article__content {

            .article__content--top {

              ul {
                flex-wrap: wrap;
                gap: 1rem;
              }
            }
          }
        }


      }

      aside {
        max-width: 100%;
        padding-top: 5rem;
        padding-right: 1rem;
        padding-left: 1rem;
      }

      .aside__popular {
        justify-content: center;
        margin-top: 6rem;
        width: 20rem;
        padding-left: 0rem;

      }
      .aside__tags {

        div {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 22rem !important;
          a {
            font-size: 0.7rem;
            padding: 0.5rem 1rem 0.5rem 1rem;

        }
      }
      }
      .aside__photos {

       .photos__container{
         display: flex;
         width: 100%;
         justify-content: center;


         ul {
           grid-template-columns: repeat(6, auto);
           grid-template-rows: repeat(1, auto);
           gap: 0px;
           place-items: center;
           gap: 0.5rem;
           margin-left: 12rem;


           li {
             width: 3rem;
             float: left;
             margin: 0;

             img {
               width: 3rem;
               margin: 0;
             }
           }


           .draw-border {
             @include btn-border-drawing(variables.$red, variables.$red, 2px, top, right);

           }
         }
       }
      }
    }


  }

}

}
@media (min-width: 767px) and (max-width: 1280px) {
  main {


    .page__container {
      margin: 0rem !important;

      .main__divider {

        section {
          max-width: 60%!important;
          display: flex;
          flex-direction: column;

          article {



            figure {
              position: relative;
              margin: 0!important;
              z-index: -1;
            }
        }

        aside {
          max-width: 30%;
          padding-left: 2rem;

          .aside__tags {

            div {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap ;
              a {
                font-size: 0.7rem !important;
                padding: 0.5rem 1rem 0.5rem 1rem !important;

              }
            }
          }
      }
        }
      }
    }}
  .aside__photos {

    .photos__container{

      ul {
        grid-template-columns: repeat(2, auto)!important;
        grid-template-rows: repeat(3, auto);
        column-gap: 10px!important;
        .draw-border {
          width: 7.5rem!important;
          margin: 0;

          img {
            width: 7.5rem!important;
            margin: 0;
          }
        }


        .draw-border {
          @include btn-border-drawing(variables.$red, variables.$red, 2px, top, right);

        }
      }
    }
  }
}

