@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mainSingleRoom {
  color: #717171;
}

.EscapePresentation {
  background: linear-gradient(0deg, rgb(27, 27, 27) 10%, rgba(27, 27, 27, 0) 100%), url("../images/room-7.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
}
.EscapePresentation__title {
  margin-left: 10px;
  padding-top: 215px;
  color: white;
}

h1 {
  font-size: 32px;
  font-family: Montserrat;
}

.EscapeDetails {
  background-color: #1b1b1b;
  font-family: Hind;
  padding-left: 15px;
  padding-right: 15px;
  height: 700px;
}
.EscapeDetails__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.EscapeDetails__grid--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70px;
}
.EscapeDetails__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  height: 325px;
  font-size: 16px;
  margin-bottom: 25px;
  line-height: 21px;
}
.EscapeDetails__contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 37px;
  border-bottom: solid #222222 2px;
  color: #fefefe;
}
.EscapeDetails__button {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 3rem;
  text-decoration: none;
  color: #fefefe;
  font-weight: 700;
  background-color: #f60b0e;
  width: 100px;
  margin-top: 20px;
}

.Space {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.smallerSpace {
  width: 49px;
}

.WhiteColor {
  color: #fefefe;
}

.RedColor {
  color: #f60b0e;
}

.borderRight {
  border-right: solid #222222 2px;
}

.Margincontact {
  margin-right: 15px;
}

.hrSingle {
  width: 10%;
  height: 3px;
  margin: auto;
  background-color: #717171;
  border-radius: 4%;
}

.Booking {
  background-color: #222222;
  height: 560px;
  padding-top: 40px;
}
.Booking__title {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-family: Montserrat;
  font-size: 21px;
}
.Booking__calendar {
  width: 382px;
  height: 382px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  box-shadow: 2px 9px 20px 5px rgba(0, 0, 0, 0.75);
  border: solid #717171 1px;
}

.otherRoom {
  background-color: #1b1b1b;
  height: 500px;
}
.otherRoom__title {
  margin-left: 10px;
  padding-top: 35px;
  color: white;
  margin-bottom: 30px;
}
.otherRoom__padding {
  padding-top: 220px;
  height: 108px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 25px;
}
.otherRoom__padding--grid {
  display: grid;
  grid-template-columns: repeat(5, 20px);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.otherRoom__room {
  width: 382px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(0deg, rgb(0, 0, 0) 5%, rgba(27, 27, 27, 0) 40%), url("../images/room-8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 4px 20px 5px rgba(0, 0, 0, 0.75);
}
.otherRoom__room--flex {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 190px;
  font-size: smaller;
}

.grayColor {
  color: #717171;
}

footer {
  background: linear-gradient(0deg, rgba(27, 27, 27, 0.95) 10%, rgba(27, 27, 27, 0.95) 100%), url("../images/room-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #717171;
  font-family: Hind;
  font-size: 0.8em;
}

.linkFooter {
  color: #717171;
  text-decoration: none;
}
.linkFooter:hover {
  color: white;
}

.sectionFooter {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  line-height: 17px;
}
.sectionFooter__copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionFooter__copyright--p {
  margin-top: 5px;
  margin-bottom: 40px;
}
.sectionFooter__hr {
  opacity: 0.1;
}
.sectionFooter__padding {
  margin-left: 16px;
}
.sectionFooter__grid {
  display: grid;
  grid-template-columns: repeat(2, 90px);
  grid-template-rows: repeat(7, 30px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 20px;
}
.sectionFooter__flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sectionFooter__flex--redLine {
  margin-left: 7px;
  height: 1px;
  background-color: #f60b0e;
  width: 20px;
  display: block;
}
.sectionFooter__flexAdress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 165px;
  margin-left: 16px;
}
.sectionFooter__flexAdress--title {
  margin-top: 20px;
  font-size: 1.5em;
  color: white;
  font-weight: bolder;
}
.sectionFooter__flexAdress--whitecolor {
  color: white;
}
.sectionFooter__flexAdress--list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 175px;
  margin-top: 20px;
}
.sectionFooter__flexSocial {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.sectionFooter__flexSocial--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.4em;
  margin-right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #222222;
}
.sectionFooter__flexSocial--logo:hover {
  background-color: #f60b0e;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .responsiveTitle {
    width: 60px;
  }
  .responsiveFLex {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .sectionFooter {
    margin-right: 15px;
  }
  .sectionFooter__grid {
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: repeat(7, 50px);
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    margin-top: 20px;
  }
  .sectionFooter__flexSocial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .sectionFooter__flexSocial--logo {
    margin-bottom: 15px;
  }
  .sectionFooter__flexAdress {
    height: 240px;
  }
  .sectionFooter__flexAdress--list {
    height: 222px;
    width: 98px;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1920px) {
  .sectionFooter {
    width: 250px;
    font-size: 1.3em;
    line-height: 22px;
    padding-top: 118px;
  }
  .sectionFooter__copyright--p {
    margin-top: 20px;
  }
  .sectionFooter__flexSocial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 70px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
  }
  .sectionFooter__flexSocial--logo {
    width: 50px;
    height: 50px;
  }
  .sectionFooter__grid {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: repeat(7, 55px);
  }
  .sectionFooter__flexAdress {
    height: 223px;
  }
  .sectionFooter__flexAdress--list {
    height: 265px;
  }
  .responsiveFLex {
    display: grid;
    grid-template-columns: repeat(5, 300px);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 30px;
    margin-left: 400px;
  }
  .logoResponsive {
    width: 1920px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
