@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.homepage {
  color: #717171;
  font-family: Hind;
}

.HomepageView {
  background: linear-gradient(0deg, rgb(27, 27, 27) 10%, rgba(27, 27, 27, 0) 100%), url("../images/slide-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
}
.HomepageView__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.HomepageView__flex--h1 {
  font-family: Montserrat;
  color: white;
  width: 162px;
  font-size: 1.8em;
  margin-bottom: 23px;
  margin-left: auto;
  margin-right: auto;
}
.HomepageView__flex--h2 {
  color: white;
  font-size: 0.8em;
}

.featuredRoom {
  background-color: #1b1b1b;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  line-height: 20px;
}
.featuredRoom__border {
  box-shadow: 2px 9px 20px 5px rgba(0, 0, 0, 0.75);
  margin-bottom: 65px;
}
.featuredRoom__paddings {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 380px;
}
.featuredRoom__paddings--grid {
  display: grid;
  grid-template-columns: repeat(5, 20px);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.featuredRoom__paddings--flex {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 190px;
  font-size: smaller;
}
.featuredRoom__hr {
  width: 9%;
  height: 4px;
  margin: auto;
  background-color: #717171;
  border-radius: 4%;
}
.featuredRoom__buttonReadmore {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 3rem;
  text-decoration: none;
  color: #fefefe;
  font-weight: 700;
  background-color: #f60b0e;
  width: 100px;
  margin-top: 20px;
  text-align: center;
}
.featuredRoom__Imporium {
  height: 250px;
  background: linear-gradient(0deg, rgba(27, 27, 27, 0.6) 0%, rgba(27, 27, 27, 0.6) 100%), url("../images/slide-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.featuredRoom__Cure {
  height: 250px;
  background: linear-gradient(0deg, rgba(27, 27, 27, 0.6) 0%, rgba(27, 27, 27, 0.6) 100%), url("../images/room-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.featuredRoom__Burlesque {
  height: 250px;
  background: linear-gradient(0deg, rgba(27, 27, 27, 0.6) 0%, rgba(27, 27, 27, 0.6) 100%), url("../images/room-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.featuredRoom__h1 {
  color: white;
  font-size: 1.5em;
  margin-bottom: 16px;
}

.h1modifier {
  width: 256px;
  margin-top: 35px;
  margin-bottom: 65px;
  text-align: center;
  font-size: 1.4em;
}

.h1modifierExplanation {
  width: 256px;
  margin-top: 35px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.4em;
}

.RedColor {
  color: #f60b0e;
}

.grayColor {
  color: #717171;
}

.Explanation {
  background-color: #222222;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  text-align: center;
}
.Explanation__p {
  line-height: 20px;
  margin-bottom: 70px;
}
.Explanation__logo {
  color: white;
  height: 85px;
  width: 85px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid #717171 2.5px;
  font-size: 2em;
  position: relative;
  z-index: 3;
}
.Explanation__logo::after {
  content: "";
  position: absolute;
  margin-left: 50%;
  height: 113px;
  width: 1.5px;
  background-color: #717171;
  top: -18%;
  left: 0%;
  transform: translateX(-50%) rotate(-150deg) scaleY(1);
  z-index: -1;
}

.transverse {
  display: block;
  width: 32px;
  height: 32px;
  padding: 26.5px;
  background-color: #222222;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.display {
  display: none;
}

.testimonial {
  background-color: #fefefe;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  line-height: 20px;
  text-align: center;
}
.testimonial__name {
  color: #222222;
  font-weight: bolder;
}
.testimonial__quote {
  line-height: 25px;
  font-size: 1.2em;
}
.testimonial__profil {
  margin-top: 10px;
  margin: 10px;
}

.blogspots {
  background-color: #1b1b1b;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  line-height: 20px;
}
.blogspots__paragraphe {
  font-size: 0.8em;
  margin-bottom: 40px;
}
.blogspots__title {
  color: white;
  font-family: Montserrat;
  margin-bottom: 20px;
}
.blogspots__hr {
  width: 9%;
  height: 4px;
  background-color: #717171;
  margin-bottom: 20px;
  margin-top: 20px;
}
.blogspots__resume {
  color: #222222;
  font-size: 0.85em;
}
.blogspots__profile {
  border: #ebebeb solid 3px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 10px;
}
.blogspots__profile--flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 150px;
}
.blogspots__profile--p {
  color: white;
  font-size: 0.8em;
  font-weight: bolder;
}
.blogspots__redSubtitles {
  color: #f60b0e;
  text-decoration: underline;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -45px;
  margin-bottom: 50px;
}
.blogspots__blogOne {
  background: linear-gradient(0deg, #1b1b1b 15%, rgba(27, 27, 27, 0.1) 40%), url("../images/post-img-2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 278px;
}
.blogspots__blogTwo {
  background: linear-gradient(0deg, #1b1b1b 15%, rgba(27, 27, 27, 0.2) 40%), url("../images/room-7.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 269px;
}
.blogspots__blogThree {
  background: linear-gradient(0deg, #1b1b1b 15%, rgba(27, 27, 27, 0.2) 40%), url("../images/room-9.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 278px;
}

.darkolor {
  color: #1b1b1b;
  margin-bottom: 50px;
}

.aiming {
  background: linear-gradient(90deg, #222222 30%, rgba(27, 27, 27, 0.1) 60%), url("../images/room-7.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 296px;
  font-size: 1.6em;
}
.aiming__responsivePart {
  display: none;
}
.aiming__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 75%;
  color: white;
  padding-top: 38px;
}

.logoAiming {
  color: #f60b0e;
  margin-left: 55px;
  margin-right: 10px;
}

.photo {
  background-color: #1b1b1b;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  line-height: 20px;
}
.photo__button {
  border: 1px solid lightgray;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 3rem;
  text-decoration: none;
  color: white;
  font-weight: 700;
  width: 173px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.photo__img {
  width: 182px;
  height: 182px;
  margin: 2px;
}
.photo__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.bookingButton {
  margin-left: auto;
  margin-right: auto;
  width: 142px;
  margin-top: 55px;
}

.emailForm {
  background-color: #1b1b1b;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  line-height: 20px;
}
.emailForm__button {
  padding: 5px;
  margin-top: 30px;
  background-color: #1b1b1b;
  border: solid 1.5px #717171;
  border-radius: 30px;
  color: white;
  height: 45px;
  width: 169px;
}
.emailForm__text {
  background-color: #1b1b1b;
  color: #717171;
  border: none;
  border-bottom: solid 1.5px #717171;
  width: 100%;
  height: 40px;
  margin-top: 40px;
}
.emailForm__text--message {
  padding-bottom: 120px;
}
.emailForm__h1 {
  margin-top: 50px;
}
.emailForm__maps {
  background-image: url("../images/37-lunar-landscape.png");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .HomepageView {
    height: 468px;
  }
  .HomepageView__flex--h1 {
    width: 261px;
    font-size: 3em;
  }
  .featuredRoom {
    padding-left: 65px;
    padding-right: 65px;
  }
  .featuredRoom__hr {
    width: 4%;
  }
  .featuredRoom__Imporium {
    height: 400px;
  }
  .featuredRoom__Cure {
    height: 400px;
  }
  .featuredRoom__Burlesque {
    height: 400px;
  }
  .Explanation__flexResponsive {
    display: flex;
    flex-direction: row;
  }
  .Explanation__p {
    width: 248px;
  }
  .testimonial__flexResponsive {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .testimonial__arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    margin-bottom: 40px;
    margin-top: 70px;
  }
  .testimonial__transverse {
    transform: translateX(0%) rotate(-45deg) scaleY(1);
    width: 120px;
    height: 1px;
    background-color: #717171;
    margin-left: -2px;
    margin-top: 18px;
  }
  .aiming {
    height: 551px;
  }
  .aiming__flex {
    padding-left: 50px;
  }
  .blogspots__flexResponsive {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .blogspots__flexResponsive--width {
    width: 300px;
  }
  .h1modifier {
    font-size: 1.4em;
  }
  .h1modifierExplanation {
    font-size: 1.2em;
  }
  .display {
    display: block;
  }
}
.mainSingleRoom {
  color: #717171;
}

.EscapePresentation {
  background: linear-gradient(0deg, rgb(27, 27, 27) 10%, rgba(27, 27, 27, 0) 100%), url("../images/room-7.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
}
.EscapePresentation__title {
  margin-left: 10px;
  padding-top: 215px;
  color: white;
}

h1 {
  font-size: 32px;
  font-family: Montserrat;
}

.EscapeDetails {
  background-color: #1b1b1b;
  font-family: Hind;
  padding-left: 15px;
  padding-right: 15px;
  height: 700px;
}
.EscapeDetails__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.EscapeDetails__grid--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70px;
}
.EscapeDetails__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  height: 325px;
  font-size: 16px;
  margin-bottom: 25px;
  line-height: 21px;
}
.EscapeDetails__contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 37px;
  border-bottom: solid #222222 2px;
  color: #fefefe;
}
.EscapeDetails__button {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 3rem;
  text-decoration: none;
  color: #fefefe;
  font-weight: 700;
  background-color: #f60b0e;
  width: 100px;
  margin-top: 20px;
}

.Space {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.smallerSpace {
  width: 49px;
}

.WhiteColor {
  color: #fefefe;
}

.RedColor {
  color: #f60b0e;
}

.borderRight {
  border-right: solid #222222 2px;
}

.Margincontact {
  margin-right: 15px;
}

.hrSingle {
  width: 10%;
  height: 3px;
  margin: auto;
  background-color: #717171;
  border-radius: 4%;
}

.Booking {
  background-color: #222222;
  height: 560px;
  padding-top: 40px;
}
.Booking__title {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-family: Montserrat;
  font-size: 21px;
}
.Booking__calendar {
  width: 382px;
  height: 382px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  box-shadow: 2px 9px 20px 5px rgba(0, 0, 0, 0.75);
  border: solid #717171 1px;
}

.otherRoom {
  background-color: #1b1b1b;
  height: 500px;
}
.otherRoom__title {
  margin-left: 10px;
  padding-top: 35px;
  color: white;
  margin-bottom: 30px;
}
.otherRoom__padding {
  padding-top: 220px;
  height: 108px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 25px;
}
.otherRoom__padding--grid {
  display: grid;
  grid-template-columns: repeat(5, 20px);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.otherRoom__room {
  width: 382px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(0deg, rgb(0, 0, 0) 5%, rgba(27, 27, 27, 0) 100%), url("../images/room-8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 9px 20px 5px rgba(0, 0, 0, 0.75);
}
.otherRoom__room--flex {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 190px;
  font-size: smaller;
}
.grayColor {
  color: #717171;
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .EscapePresentation {
    height: 550px;
  }
  .EscapePresentation__title {
    margin-left: 51px;
    padding-top: 326px;
  }
  h1 {
    font-size: 4em;
  }
  .responsiveWidth {
    width: 220px;
  }
  .EscapeDetails {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 482px;
    padding-left: 50px;
  }
  .EscapeDetails__grid {
    grid-template-columns: repeat(3, 150px);
  }
  .EscapeDetails__text {
    width: 425px;
    height: 290px;
  }
  .EscapeDetails__button {
    margin-top: 35px;
  }
}
footer {
  background: linear-gradient(0deg, rgba(27, 27, 27, 0.95) 10%, rgba(27, 27, 27, 0.95) 100%), url("../images/room-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #717171;
  font-family: Hind;
  font-size: 0.8em;
}

.linkFooter {
  color: #717171;
  text-decoration: none;
}
.linkFooter:hover {
  color: white;
}

.sectionFooter {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  line-height: 17px;
}
.sectionFooter__copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionFooter__copyright--p {
  margin-top: 5px;
  margin-bottom: 40px;
}
.sectionFooter__hr {
  opacity: 0.1;
}
.sectionFooter__padding {
  margin-left: 16px;
}
.sectionFooter__grid {
  display: grid;
  grid-template-columns: repeat(2, 90px);
  grid-template-rows: repeat(7, 30px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 20px;
}
.sectionFooter__flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sectionFooter__flex--redLine {
  margin-left: 7px;
  height: 1px;
  background-color: #f60b0e;
  width: 20px;
  display: block;
}
.sectionFooter__flexAdress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 165px;
  margin-left: 16px;
}
.sectionFooter__flexAdress--title {
  margin-top: 20px;
  font-size: 1.5em;
  color: white;
  font-weight: bolder;
}
.sectionFooter__flexAdress--whitecolor {
  color: white;
}
.sectionFooter__flexAdress--list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 175px;
  margin-top: 20px;
}
.sectionFooter__flexSocial {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.sectionFooter__flexSocial--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.4em;
  margin-right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #222222;
}
.sectionFooter__flexSocial--logo:hover {
  background-color: #f60b0e;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .responsiveTitle {
    width: 60px;
  }
  .responsiveFLex {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .sectionFooter {
    margin-right: 15px;
  }
  .sectionFooter__grid {
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: repeat(7, 50px);
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    margin-top: 20px;
  }
  .sectionFooter__flexSocial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .sectionFooter__flexSocial--logo {
    margin-bottom: 15px;
  }
  .sectionFooter__flexAdress {
    height: 240px;
  }
  .sectionFooter__flexAdress--list {
    height: 222px;
    width: 98px;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1920px) {
  .sectionFooter {
    width: 250px;
    font-size: 1.3em;
    line-height: 22px;
    padding-top: 118px;
  }
  .sectionFooter__copyright--p {
    margin-top: 20px;
  }
  .sectionFooter__flexSocial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 70px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
  }
  .sectionFooter__flexSocial--logo {
    width: 50px;
    height: 50px;
  }
  .sectionFooter__grid {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: repeat(7, 55px);
  }
  .sectionFooter__flexAdress {
    height: 223px;
  }
  .sectionFooter__flexAdress--list {
    height: 265px;
  }
  .responsiveFLex {
    display: grid;
    grid-template-columns: repeat(5, 300px);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 30px;
    margin-left: 400px;
  }
  .logoResponsive {
    width: 1920px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
