@import "../utilities/_variables.scss";

/* #header {
  position: fixed;
  display: flex;
  background-color: rgba(20,20,20,.50);
  width: 100%;
  height: 5rem;
  z-index: 99;

  #nav__logo {
    height: 100%;
    margin-right: 2rem;
  }

  nav {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
    width: 100%;

    ul {
      display: flex;

      li {
        padding: 0rem 0.6rem;

        a {
          color: $navFontColor;
          text-decoration: none;
          display: block;
          position: relative;
        }
        a:before {
          content: '';
          position: absolute;
          margin-left: 50%;
          height: 50px;
          bottom: -100%;
          transform: translateX(-50%) rotate(-135deg) scaleY(0);
          transition: transform .5s cubic-bezier(.2,1,.2,1);
          z-index: -1;
        }

        a:hover:before {
          background: $red;
          width: 3px;
          transform: translateX(-50%) rotate(-135deg) scaleY(1);
        }
        a:hover {
          color: $whiteBackground;
        }

      }
    }
    .nav__div--right {
      position: fixed;
      right: 2rem;
      display: flex;

      #nav__button {
        margin-right: 1rem;
      }
      .nav__ul--right {
        color: $whiteBackground;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .nav__right--search{

            i {
                display: inline-block;
                margin-right: 0.5rem;
            }
            .calendar {
              display: none;
            }
        }

        .nav__right--login {
          padding-left: 1rem;
          border-left: 1px solid rgba(255,255,255,.50);
          height: 1em;
          text-transform: uppercase;
        }
      }
    }
    .hamburger {
      display:none;
      flex-direction: column;
      width: 2rem;
      height: 2rem;
      align-items: center;
      position: fixed;
      right: 0;
      gap: 0.5rem;
      margin-right: 0.5rem;

      .bar {
        width: 2rem;
        height: 1.2rem;
        background-color: white;
        border-radius: 20%;
      }
    }
  }

}
*/

.navigation {
  position: fixed;
  z-index: 1000;
  display:flex;
  flex-direction: row;
  width: 100%;
  height: 3em;
  font-family: "Hind", sans-serif;
  background-color: rgba(22, 22, 22, 0.5);
  z-index: 99;

  .fa-calendar {
    color: whitesmoke;
    position: fixed;
    right: 6em;
    top: 0.9em;
  }
  .fa-magnifying-glass {
    color: whitesmoke;
    position: fixed;
    right: 4em;
    top: 0.9em;
  }

  &__ul{
    background-color: $darkestBackground;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    list-style: none;
    color: lightgray;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 0.8em;
    width: 50%;
    margin-left: -100%;

    &__li {
      padding: 0rem 0.6rem;

      a {
        color: $navFontColor;
        text-decoration: none;
        display: block;
        position: relative;
      }
      a:before {
        content: '';
        position: absolute;
        margin-left: 50%;
        height: 50px;
        top: -100%;
        transform: translateX(-50%) rotate(-135deg) scaleY(0);
        transition: all 0.5s ease-in-out;
        z-index: -1;
      }

      a:hover:before {
        background: $red;
        width: 3px;
        transform: translateX(-50%) rotate(-135deg) scaleY(1);
        margin-top: -5px;
      }
      a:hover {
        color: $whiteBackground;
      }

    }

  }

  &__button{
    display: none;
  }


  &__burger {
    cursor: pointer;
    height: fit-content;
    position: absolute;
    right: 1em;
    top: 0.5em;


    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.5s ease-in-out;
      background-color: white;
    }
  }
}
.active {
  margin-left: 0;
  padding-top: 10px;
  transition: all 0.5s ease-in-out;

    .bar--top {
      transform: rotate(45deg);
      margin-bottom: -8px;
    }
    .bar--middle {
      display: none;
    }
    .bar--bot {
      transform: rotate(135deg);    }
  }

.active {

  .navigation__ul__li {
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px dotted grey;
  }
}

@media (min-width: 769px) {
  .navigation {
    height: 4.5em;

    .fa-calendar {
      display:none;
    }

    &__burger {
      display:none;
    }
    &__button{
      display: inline-block;
      background-color: rgba(22, 22, 22, 0.5);
      height: fit-content;
      text-decoration: none;
      position: absolute;
      right:1em;
      top: 1.3em;
      padding: 0.5em 1.5em 0.5em 1.5em;
      border-radius: 1.5em;
      border: dotted 1px $navFontColor;
      color: white;
      font-size: 0.8em;
    }

    &__ul{
      margin-left: 0%;
      background-color: rgba(0, 22, 22, 0);
      flex-direction: row;
      position: fixed;
      left: 18em;
      height: 5em;
      align-items: center;

      &__li {
        border: none;
        text-transform: lowercase;
      }

    }


  }
}

@media (min-width: 1920px) {
  .navigation {
    height: 9em;

    &__ul {
      left: 34em;
      top: 2.5em;
      &__li {
        font-size: 2.3em;
      }
    }

    &__button {
      font-size: 1.7em;
    }
  }
}
